.wrapper {
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.funcDetails:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.functionInfo {
    cursor: default;
}
.functionInfo.type-shared, .functionInfo.type-stub, .functionInfo.type-builtin {
    color: #555;
}

.functionState {
    font-weight: bold;
    display: none;
}
.functionState.optimizable {
    color: #d44;
    display: inline;
}
.functionState.optimized {
    color: blue;
    display: inline;
}

.functionType {
    font-style: italic;
}

.expandoWrapper {
    display: inline-block;
    width: 20px;
}
.expando {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}